<div class="container">
  <div class="tab-panel">
    <tabset class="member-tabset">
        <tab heading="Matches" >
            <div class="container" >

              <ng-container class="add-match" *ngIf="showAddForm">
                <app-new-game 
                  [tournamentMemberList]="tournamentList"
                  (formEmit)="changeStatus($event)"></app-new-game>
              </ng-container>

              <form autocomplete="off" class="form-inline" *ngIf="!showAddForm">
                <div class="form-group">
                  <select name="tournaments" #tournament class="form-control" 
                    (change)="loadOtherValues(tournament.value)"
                    (toggle)="sample()">
                    <option *ngIf="tournamentList.length === 0">-- N/A --</option>
                    <ng-container *ngIf="tournamentList.length !== 0">
                      <option *ngFor="let tournament of tournamentList" [value]="tournament.id">
                        {{tournament.tournamentName}}
                      </option>
                    </ng-container>
                  </select>
                </div>

                <div class="form-group">
                  <select name="types" class="form-control ml-1 mr-2" style="width: 95%;">
                    <option *ngIf="typeList.length === 0">-- N/A --</option>
                    <ng-container *ngIf="typeList.length !== 0">
                      <option *ngIf="typeList.length !== 0" [value]="0">All</option>
                      <option *ngFor="let type of typeList">
                        {{type.matchType}}
                      </option>
                    </ng-container>
                  </select>
                </div>

                <div class="form-group">
                  <select name="modes" class="form-control ml-1 mr-2" style="width: 95%;">
                    <option *ngIf="modeList.length === 0">-- N/A --</option>
                    <ng-container *ngIf="modeList.length !== 0">
                      <option *ngIf="modeList.length !== 0" [value]="0">All</option>
                      <option *ngFor="let mode of modeList" [value]="mode.modeId">
                        {{mode.modeName}}
                      </option>
                    </ng-container>
                  </select>
                </div>

                <div class="form-group">
                  <select name="seasons" class="form-control ml-1 mr-2" style="width: 95%;">
                    <option *ngIf="seasonList.length === 0">-- N/A --</option>
                    <ng-container *ngIf="seasonList.length !== 0">
                      <option *ngIf="seasonList.length !== 0" [value]="0">All</option>
                      <option *ngFor="let season of seasonList" [value]="season.id">
                        Season {{season.seasonNumber}}
                      </option>
                    </ng-container>
                  </select>
                </div>

                <br><br>  
                <div>
                  <div class="form-group">
                    <button class="btn btn-success">Filter</button>
                  </div>
  
                  
                </div>
              </form>

              <div class="form-group" *ngIf="(accountService.currentUser$ | async) && (!showAddForm)">
                <button class="btn btn-dark ml-1" (click)='toggleAddMatch()' type="button">Add Match</button>
              </div>

              <!-- match records here -->
              <ng-container class="match-history" *ngIf="tournamentList.length !== 0 && !showAddForm">
                <div class="row mt-2">
                  <div class="col-sm-4">
                    <div class="card mb-2" >
                      <img src="./../assets/user.png" class="card-img-top" alt="">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                      <ul class="list-group list-group-flush"></ul>

                      <!-- buttons -->
                      <div class="card-body">
                        <button class="btn btn-info ml-1"><span class="fa fa-eye"></span></button>
                        <ng-container *ngIf="(accountService.currentUser$ | async)">
                          <button class="btn btn-info ml-1"><span class="fa fa-edit"></span></button>
                          <button class="btn btn-danger ml-1"><span class="fa fa-trash"></span></button>
                        </ng-container>
                      </div>
                      
                    </div>
                  </div>
          
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card">
                        <img src="" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush"></ul>
                        <div class="card-body">
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>
                    </div>
                  </div>
          
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card">
                        <img src="" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush"></ul>
                        <div class="card-body">
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>
                    </div>
                  </div>
          
                  <div class="col-sm-4">
                    <div class="card" >
                      <img src="" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                      <ul class="list-group list-group-flush"></ul>
                      <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                      </div>
                    </div>
                  </div>
          
                  <div class="col-sm-4">
                    <div class="card" >
                      <img src="" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                      <ul class="list-group list-group-flush"></ul>
                      <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                      </div>
                    </div>
                  </div>
          
                  <div class="col-sm-4">
                    <div class="card" >
                      <img src="" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                      <ul class="list-group list-group-flush"></ul>
                      <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <!-- match records here -->


            </div>

        </tab>

        <tab heading="Individual">
            <div class="container">
              b
            </div>
        </tab>

        <tab heading="Tournament" (selectTab)="sample()">
          <div class="container">

            <!-- DIV FOR ADD SEASON -->
            <div class="collapseBasic" class="ml-5 mr-5 mb-3" [collapse]="false" [isAnimated]="true" 
              *ngIf="(accountService.currentUser$ | async)">
              <div class="well well-sm card card-block card-header" style="width: 100%; margin: auto; overflow-x: auto;">
                  Add Season
                  <table class="table" style="text-align: center;">
                      <tr>
                        <th>Tournament</th>
                        <th>Latest Season</th>
                        <th>Add New Season</th>
                      </tr>

                      <tr>
                        <td>{{currentTournamentSelected}}</td>
                        <td *ngIf="seasonList.length === 0">0</td>
                        <td *ngIf="seasonList.length !== 0">{{seasonList[seasonList.length-1].seasonNumber}}</td>
                        <td><span class="fa fa-plus" style="cursor: pointer;" 
                          (click)="addSeason(seasonList[seasonList.length-1]?.seasonNumber || 0)"></span></td>
                      </tr>
                  </table>
              </div>
            </div>

          </div>
        </tab>
    </tabset>
  </div>
  
    <main class="col-md-12 ms-sm-auto "><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Matches</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          
          <!-- <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
            This week
          </button> -->
        </div>
      </div>
    
      

      <!-- <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="1076" height="454" style="display: block; width: 1076px; height: 454px;"></canvas> -->
    
      <h2>Section title</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,001</td>
              <td>Lorem</td>
              <td>ipsum</td>
              <td>dolor</td>
              <td>sit</td>
            </tr>
            <tr>
              <td>1,002</td>
              <td>amet</td>
              <td>consectetur</td>
              <td>adipiscing</td>
              <td>elit</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>Integer</td>
              <td>nec</td>
              <td>odio</td>
              <td>Praesent</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>libero</td>
              <td>Sed</td>
              <td>cursus</td>
              <td>ante</td>
            </tr>
            <tr>
              <td>1,004</td>
              <td>dapibus</td>
              <td>diam</td>
              <td>Sed</td>
              <td>nisi</td>
            </tr>
            <tr>
              <td>1,005</td>
              <td>Nulla</td>
              <td>quis</td>
              <td>sem</td>
              <td>at</td>
            </tr>
            <tr>
              <td>1,006</td>
              <td>nibh</td>
              <td>elementum</td>
              <td>imperdiet</td>
              <td>Duis</td>
            </tr>
            <tr>
              <td>1,007</td>
              <td>sagittis</td>
              <td>ipsum</td>
              <td>Praesent</td>
              <td>mauris</td>
            </tr>
            <tr>
              <td>1,008</td>
              <td>Fusce</td>
              <td>nec</td>
              <td>tellus</td>
              <td>sed</td>
            </tr>
            <tr>
              <td>1,009</td>
              <td>augue</td>
              <td>semper</td>
              <td>porta</td>
              <td>Mauris</td>
            </tr>
            <tr>
              <td>1,010</td>
              <td>massa</td>
              <td>Vestibulum</td>
              <td>lacinia</td>
              <td>arcu</td>
            </tr>
            <tr>
              <td>1,011</td>
              <td>eget</td>
              <td>nulla</td>
              <td>Class</td>
              <td>aptent</td>
            </tr>
            <tr>
              <td>1,012</td>
              <td>taciti</td>
              <td>sociosqu</td>
              <td>ad</td>
              <td>litora</td>
            </tr>
            <tr>
              <td>1,013</td>
              <td>torquent</td>
              <td>per</td>
              <td>conubia</td>
              <td>nostra</td>
            </tr>
            <tr>
              <td>1,014</td>
              <td>per</td>
              <td>inceptos</td>
              <td>himenaeos</td>
              <td>Curabitur</td>
            </tr>
            <tr>
              <td>1,015</td>
              <td>sodales</td>
              <td>ligula</td>
              <td>in</td>
              <td>libero</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
  