<div class="container" style="max-width: 95%;">

  
  <div class="tab-panel col-lg-12 col-sm" style="max-width: 100%;">
    <tabset class="member-tabset" #billiardsTabs>
        <tab heading="Matches" >
            <div class="container" *ngIf="tournamentList.length === 0">
              <h3 class="text-center">You are not included in any Billiards Tournament yet. Wait for the admin to add you.</h3>
            </div>


            <div class="container" *ngIf="tournamentList.length > 0">

              <!-- add new game form -->
              <ng-container class="add-match" *ngIf="showAddForm">
                <app-new-game 
                  [tournamentMemberList]="tournamentList"
                  [tournament]="tournament"
                  [modeList]="modeList"
                  [typeList]="typeList"
                  [seasonList]="seasonList"
                  [members]="members"
                  (formEmit)="changeStatus($event)"></app-new-game>
              </ng-container>

              <!-- filters -->
              <form autocomplete="off" class="form-inline" *ngIf="!showAddForm">
                <!-- tournament -->
                <div class="form-group">
                  <select name="tournaments" #tournament class="form-control" 
                    (change)="loadOtherValues(tournament.value)"
                    [(ngModel)]="selectedValue"> <!-- [ngModel] for selected value -->

                    <option *ngIf="tournamentList.length === 0">-- N/A --</option>
                    <ng-container *ngIf="tournamentList.length !== 0">
                      <option *ngFor="let tournament of tournamentList" [value]="tournament.id" >
                        {{tournament.tournamentName}}
                      </option>
                    </ng-container>
                  </select>
                </div>

                <!-- types -->
                <div class="form-group">
                  <select name="types" class="form-control ml-1 mr-2" (change)="changeDropDownValue($event)" style="width: 95%;">
                    <option *ngIf="typeList.length === 0">-- N/A --</option>
                    <ng-container *ngIf="typeList.length !== 0">
                      <option *ngIf="typeList.length !== 0" [value]="0">All Types</option>
                      <option *ngFor="let type of typeList" [value]="type.matchTypeId">
                        {{type.matchType}}
                      </option>
                    </ng-container>
                  </select>
                </div>

                <!-- modes -->
                <div class="form-group">
                  <select name="modes" class="form-control ml-1 mr-2" (change)="changeDropDownValue($event)" style="width: 95%;">
                    <option *ngIf="modeList.length === 0">-- N/A --</option>
                    <ng-container *ngIf="modeList.length !== 0">
                      <option *ngIf="modeList.length !== 0" [value]="0">All Modes</option>
                      <option *ngFor="let mode of modeList" [value]="mode.modeId">
                        {{mode.modeName}}
                      </option>
                    </ng-container>
                  </select>
                </div>

                <!-- season -->
                <div class="form-group">
                  <select name="seasons" class="form-control ml-1 mr-2" (change)="changeDropDownValue($event)" style="width: 95%;">
                    <option *ngIf="seasonList.length === 0">-- N/A --</option>
                    <ng-container *ngIf="seasonList.length !== 0">
                      <option *ngIf="seasonList.length !== 0" [value]="0">All Seasons</option>
                      <option *ngFor="let season of seasonList" [value]="season.id">
                        Season {{season.seasonNumber}}
                      </option>
                    </ng-container>
                  </select>
                </div>

                <br><br>  

                <!-- filter button -->
                <div>
                  
                  <div class="form-group">
                    <button class="btn btn-success" (click)="filter()">Filter</button>
                  </div>

                  
                </div>
              </form>

              <!-- add match button -->
              <div class="form-group" *ngIf="(accountService.currentUser$ | async) && (!showAddForm)">
                <button class="btn btn-dark ml-1" (click)='toggleAddMatch()' type="button">Add Match</button>
              </div>

              <!-- match records here -->
              <ng-container class="match-history" *ngIf="tournamentList.length !== 0 && !showAddForm">
                <div class="row mt-2">

                  <!-- loop matches -->
                  <ng-container *ngFor="let match of matches">
                    <div class="col-sm-4">
                      <div class="card mb-2" >
                        
                        <div class="card-body">
                          <h5 class="card-title">{{findUser(match.winUserId) | titlecase}} vs {{findUser(match.loseUserId) | titlecase}}</h5>
                          <p class="card-text">Season {{findSeason(match.seasonNumberId)}} - 
                              <img class="userPic" src="https://cdn.pixabay.com/photo/2017/08/16/18/35/pug-2648774_960_720.jpg" 
                                alt="https://cdn.pixabay.com/photo/2017/08/16/18/35/pug-2648774_960_720.jpg" (load)="findType($event, match?.typeId || 0)">
                          </p>
                        </div>
                        <ul class="list-group list-group-flush"></ul>
  
                        <!-- buttons -->
                        <div class="card-body">
                          <button class="btn btn-info ml-1" (click)="viewGame('Match Info', match)"><span class="fa fa-eye"></span></button>
                          <ng-container *ngIf="(accountService.currentUser$ | async)">
                            <!-- <button class="btn btn-info ml-1" (click)="viewGame('Edit Match', match)">
                              <span class="fa fa-edit"></span></button> -->
                            <button class="btn btn-danger ml-1" (click)="viewGame('Delete Match?', match)">
                              <span class="fa fa-trash"></span></button>
                          </ng-container>
                        </div>
                        
                      </div>
                    </div>

                    
                  </ng-container>
          
                </div>

                <!-- pagination -->
                <div class="d-flex justify-content-center" *ngIf="pagination">
                  <pagination 
                      [boundaryLinks]="false" 
                      [totalItems]="pagination.totalItems"
                      [itemsPerPage]="pagination.itemsPerPage"
                      [maxSize]="maxPage"
                      [(ngModel)]="pagination.currentPage"
                      (pageChanged)="pageChanged($event)"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                  </pagination>
                </div>
              </ng-container>
              
              <!-- match records end -->


            </div>

        </tab>

        <!-- individual stats -->
        <tab heading="Individual" #individual="tab">

          <div class="container" *ngIf="tournamentList.length === 0">
            <h3 class="text-center">You are not included in any Billiards Tournament yet. Wait for the admin to add you.</h3>
          </div>

          <ng-container *ngIf="tournamentList.length > 0">
            <app-individual-stats
              *ngIf="individual.active"
              [tournamentName]="tournament.tournamentName"
              [members]="members"
              [seasonList]="seasonList"
              [typeList]="typeList"
            >
            </app-individual-stats>
          </ng-container>
        </tab>

        <tab heading="Tournament" #tour="tab">
          <div class="container" *ngIf="tournamentList.length === 0">
            <h3 class="text-center">You are not included in any Billiards Tournament yet. Wait for the admin to add you.</h3>
          </div>

          <div class="container" *ngIf="tournamentList.length > 0">

            <!-- DIV FOR ADD SEASON -->
            <div class="collapseBasic mb-3" [collapse]="false" [isAnimated]="true" 
              *ngIf="(accountService.currentUser$ | async)">
              <div class="well well-sm card card-block card-header" style="width: 100%; margin: auto; overflow-x: auto;">
                  Add Season
                  <table class="table" style="text-align: center;">
                      <tr>
                        <th>Tournament</th>
                        <th>Latest Season</th>
                        <th>Add New Season</th>
                      </tr>

                      <tr>
                        <td>{{tournament.tournamentName}}</td>
                        <td *ngIf="seasonList.length === 0">0</td>
                        <td *ngIf="seasonList.length !== 0">{{seasonList[0].seasonNumber}}</td>
                        <td><span class="fa fa-plus" style="cursor: pointer;" 
                          (click)="addSeason(seasonList[0]?.seasonNumber || 0)"></span></td>
                      </tr>
                  </table>
              </div>
            </div>

          </div>

          <ng-container *ngIf="tournamentList.length > 0">
            <app-tournament-stats
              *ngIf="tour.active"
              [typeList]="typeList"
              [seasonList]="seasonList"
              [tournamentId]="selectedValue"
            >

            </app-tournament-stats>
          </ng-container>
          
        </tab>
    </tabset>
  </div>
  
    
</div>
