<div class="change-password-container">
    <h4 style="text-align: center;">Change Password</h4>

    <form [formGroup]="changePasswordForm" autocomplete="off">
        <input class="form-control" formControlName="oldPassword" name="oldPassword" type="password" placeholder="Enter Current Password">
        <ng-container *ngIf="changePasswordForm.controls['oldPassword'].invalid && (changePasswordForm.controls['oldPassword'].dirty 
                || changePasswordForm.controls['oldPassword'].touched)" class="alert" >
                <label style="color: red;">This field is required!</label>
        </ng-container>

        <input class="form-control" formControlName="newPassword" name="newPassword" type="password" placeholder="Enter New Password">
            <ng-container *ngIf="changePasswordForm.controls['newPassword'].invalid && (changePasswordForm.controls['newPassword'].dirty 
                    || changePasswordForm.controls['newPassword'].touched)" class="alert" >
                    <label style="color: red;">Minimum length is 8 characters!</label>
            </ng-container>

        <input class="form-control" formControlName="retypePassword" name="retypePassword" type="password" placeholder="Retype New Password">
            <ng-container *ngIf="changePasswordForm.controls['retypePassword'].invalid && (changePasswordForm.controls['retypePassword'].dirty 
                    || changePasswordForm.controls['retypePassword'].touched)" class="alert" >
                    <label style="color: red;">Passwords do not match!</label>
            </ng-container>

        <ng-container *ngIf="errorTag" class="alert"  >
            <div *ngFor="let error of errorDescriptions">
                <label style="color: red;">{{error.description}}</label>
            </div>
            
        </ng-container>

        <br>
        <button class="btn btn-success my-2 my-sm-0" [disabled]="!changePasswordForm.valid"
            type="submit" (click)="changePassword()">Change Password</button>
    </form>

    
</div>