<!-- <div class="row" style="margin: auto;"> -->
<div class="row">
    <h2>New Match Form</h2>

    <form style="width: 100%; border: 1px solid black;" [formGroup]="newMatch">
        <h4 class="title text-center">Add new match to {{tournament.tournamentName}}</h4>

        <div class="container-values" >

            <!-- winner and loser -->
            <div class="controls">
                <div class="data">
                    <span class="label-info mr-3">Winner</span>

                    <select class="form-control mb-2" #winner
                        formControlName="winUserId" name="winUserId" (change)="getWinner(winner.value)">
                        <option *ngFor="let member of members" [value]="member.userId">
                            {{member.username}}
                        </option>
                    </select>

                </div>
    
                <div class="data">
                    <span class="label-info ml-3 mr-3">Loser</span>

                    <select class="form-control" #loser
                        formControlName="loseUserId" name="loseUserId" (change)="getLoser(loser.value)">
                        <option *ngFor="let member of members" [value]="member.userId">
                            {{member.username}}
                        </option>
                    </select>

                </div>
            </div>

            <!-- type -->
            <div class="controls">

                <div class="data">
                    <span class="label-info">Type:</span> 

                    <select class="form-control  ml-3" formControlName="typeId" name="typeId">
                        <option *ngFor="let type of typeList" [value]="type.matchTypeId">
                            {{type.matchType}}
                        </option>
                    </select>
                </div>
            </div>

            <!-- mode -->
            <div class="controls">

                <div class="data">
                    <span class="label-info">Mode:</span> 

                    <select class="form-control ml-3" formControlName="modeId" name="modeId">
                        <option *ngFor="let mode of modeList" [value]="mode.modeId">
                            {{mode.modeName}}
                        </option>
                    </select>
                </div>
            </div>

            <!-- season -->
            <div class="controls">

                <div class="data">
                    <span class="label-info">Season:</span> 

                    <select class="form-control ml-3" formControlName="seasonNumberId" name="seasonNumberId">
                        <option *ngFor="let season of seasonList" [value]="season.id">
                            {{season.seasonNumber}}
                        </option>
                    </select>
                </div>
            </div>

            <!-- number of wins -->
            <div class="controls">

                <div class="data">
                    <span class="label-info" *ngIf="winName === ''">{{members[0]?.username}}'s wins</span> 
                    <span class="label-info" *ngIf="winName !== ''">{{winName}}'s wins</span> 

                    <input class="form-control ml-3 mr-3" type="number" formControlName="winnerWins" name="winnerWins"
                        style="width: 100px;" min="1" required>
                </div>

                <div class="data">
                    <span class="label-info" *ngIf="loseName === ''">{{members[0]?.username}}'s wins</span> 
                    <span class="label-info" *ngIf="loseName !== ''">{{loseName}}'s wins</span> 

                    <input class="form-control ml-3 mr-3" type="number" formControlName="loserWins" name="loserWins"
                        style="width: 100px;" min="0" required>
                </div>
            </div>

            <!-- games played -->
            <div class="controls">
                <div class="data">
                    <span class="label-info w-200" >Total Games Played: </span>
                    <input class="form-control" formGroupName="totalGamesPlayed" name="totalGamesPlayed" disabled
                        value="{{newMatch.get('winnerWins')?.value 
                        + newMatch.get('loserWins')?.value}}">
                </div>
            </div>
            
        </div>

        <!-- buttons -->
        <div class="controls">
            <button class="btn btn-danger mr-4" type="button" (click)="change(false)">Close</button>
            <button class="btn btn-success" type="submit" (click)="insert()">Insert Match</button>
        </div>
    </form>
    
</div>