.nav-item{
    cursor: pointer;
}

.dropdown{
    cursor: pointer;
}

.userPic{
    max-height: 35px;
    max-width: 35px;
    border-radius: 50%;
}

.dropdown-item:hover{
    background-color: grey;
}