<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" routerLink='billiards' *ngIf="!(accountService.currentUser$ | async)">Game Record Application</a>
  <a class="navbar-brand" routerLink='user/billiards' *ngIf="accountService.currentUser$ | async">Game Record Application</a>
  
  <div class="navbar-collapse" id="navbarCollapse" [ngClass]="showMenu ? 'expand' : 'collapse'">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" dropdown>
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"  dropdownToggle>
          Games
        </a>
        <div class="dropdown-menu" *dropdownMenu >
          <ng-container *ngFor="let game of gameList">
            <a class="dropdown-item" *ngIf="!(accountService.currentUser$ | async)" 
              routerLink={{game.loggedOutLink}} routerLinkActive="active" 
              [class.disabled]="game.name === 'Billiards' ? false : true"
            >
            {{game.name}}
          </a>
          </ng-container>
          
          <ng-container *ngFor="let game of gameList">
            <a class="dropdown-item" *ngIf="(accountService.currentUser$ | async)" 
            routerLink={{game.loggedInLink}} routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}" 
            [class.disabled]="game.name === 'Billiards' ? false : true" >{{game.name}}</a>
          </ng-container>

        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="(accountService.currentUser$ | async) && isAdmin" dropdown>
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"  dropdownToggle>
          Settings
        </a>
        <div class="dropdown-menu" *dropdownMenu >
          <a class="dropdown-item" routerLink="user/settings" routerLinkActive="active">General</a>
          <ng-container *ngFor="let game of gameList">
            <a class="dropdown-item" routerLink="{{game.loggedInLink}}/settings"
              routerLinkActive="active">{{game.name}}</a>
          </ng-container>
        </div>
        
      </li>

      <li class="nav-item" *ngIf="!(accountService.currentUser$ | async)">
        <a class="nav-link" routerLink='register' routerLinkActive="active">Register</a>
      </li>

      <li class="nav-item" *ngIf="!(accountService.currentUser$ | async)">
        <a class="nav-link" href='https://github.com/hjlopez/GameRecordWebApplication' target="_blank">Source Code</a>
      </li>

      <!-- <li class="nav-item" *ngIf="!(accountService.currentUser$ | async)">
        <a class="nav-link" routerLink='forgot' routerLinkActive="active">Forgot Password</a>
      </li> -->

      <li class="nav-item" *ngIf="(accountService.currentUser$ | async) && isAdmin">
        <a class="nav-link" routerLink='user/user-management' routerLinkActive="active">User Management</a>
      </li>

    </ul>

    
    <!-- login align to right side -->
    <div class="navbar-nav ml-auto">
        <form #loginForm="ngForm" *ngIf="!(accountService.currentUser$ | async)"  id="loginForm" class="form-inline" autocomplete="off" >
          
            <input type="text" name="username" [(ngModel)]="loginModel.username" class="form-control mr-sm-2" placeholder="Username">
            <input type="password" name="password" [(ngModel)]="loginModel.password" class="form-control mr-sm-2" placeholder="Password">

            <button class="btn btn-success my-2 my-sm-0" type="submit" (ngSubmit)="loginForm.resetForm()" (click)="login()">Login</button>
            
        </form>
        
    </div>

    <!-- edit profile/logout -->
    <div class="dropdown" dropdown *ngIf="(accountService.currentUser$ | async) as user">
      <img class="userPic" src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username || user.gamerTag}}">
      <a class="dropdown-toggle text-light" dropdownToggle> Welcome {{user.gamerTag || user.username | titlecase}}</a>
      <div class="dropdown-menu " *dropdownMenu>
          <a class="dropdown-item" routerLink='/user/edit'>Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink='/user/photo-edit'>Change Photo</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink='/user/changepassword'>Change Password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>   
      </div>
    </div>

      
  </div>

  <button class="navbar-toggler ml-1 d-md-none collapsed mt-2" name="toggler" a-href="#toggler" type="button" (click)="showMenu=!showMenu"  >
		<span class="navbar-toggler-icon"></span>
	  </button>
</nav>
