<div class="container">

    <div class="collapseBasic" [collapse]="false" [isAnimated]="true">
        <div class="well well-sm card card-block card-header" style=" overflow-x: auto;">
            <h3 style="font-weight: bolder; text-align: center; color: indigo;">List of Games</h3>
            <table class="table" style="text-align: center;">
                <tr>
                  <th>Game Name</th>
                  <th>Type</th>
                  <th>Logged In Url</th>
                  <th>Logged Out Url</th>
                  <th></th>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                
            </table>
        </div>

        <div class="well well-sm card card-block card-footer">
            <form>
                <button class="btn btn-success">Add</button>
            </form>
            
        </div>

      </div>

      <div class="collapseBasic" [collapse]="false" [isAnimated]="true">
        <div class="well well-sm card card-block card-header" style=" overflow-x: auto;">
            <h3 style="font-weight: bolder; text-align: center; color: indigo;">List of Game Types</h3>
            <table class="table" style="text-align: center;">
                <tr>
                  <th>Game Type</th>
                  
                </tr>

                <tr>
                    <td></td>
                </tr>
                
            </table>
        </div>

        <div class="well well-sm card card-block card-footer">
            <form>
                <button class="btn btn-success">Add</button>
            </form>
            
        </div>
      </div>
</div>