<div class="img-center" style="text-align: center;">
    <img class="user-pic"  src="{{currentUser.photoUrl || './assets/user.png'}}"><br>
    <button type="button" *ngIf="currentUser.photoUrl" (click)="deletePhoto()" class="btn btn-danger mt-2">
        <span class="fa fa-trash"></span> Remove Photo
    </button>
</div>

<div class="row mt-3" >
 
    <div class="col-md-3" style="text-align: center;">

        <h3>Add New Photo</h3>

        <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropzoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="card bg-faded p-3 text-center mb-3 my-drop-zone">
            Drop photo here
        </div>

        <input type="file" ng2FileSelect [uploader]="uploader" style="margin-bottom: 5px;"/>
        
    </div>

    <!-- show only if there is an upload image -->
    <div class="col-md-9" style="margin-bottom: 40px">


        <table class="table">
            <thead>
            <tr>
                <th width="50%">Name</th>
                <th>Size</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
            </tr>
            </tbody>
        </table>

        <div>
            <div>
                Queue progress:
                <div class="progress">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            
            <button type="button" class="btn btn-success btn-s mt-2"
                    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="fa fa-upload"></span> Upload
            </button>
            <button type="button" class="btn btn-warning btn-s ml-1 mr-2 mt-2"
                    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                <span class="fa fa-ban"></span> Cancel
            </button>
            <button type="button" class="btn btn-danger btn-s mt-2"
                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="fa fa-trash"></span> Remove
            </button>
        </div>

    </div>

</div>